* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 70px;
}

.header-1 {
    background-color: lightgray;
    display: flex;
}

nav {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}


.menu {
    padding-right: 170px;
}

.menu a {
    text-decoration: none;
    font-size: 12px;
    color: black;
    font-weight: bold;
    padding: 10px 10px;
}

.search {
    position: relative;
    display: inline-block;
    margin-top: 25px;
    margin-right: 50px;
}

.search input[type="text"] {
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    box-sizing: border-box;
    border: none;
    outline: none;
}

.search button.search-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 85%;
    background: none;
    border: none;
    cursor: pointer;
}

.search button.search-icon img {
    width: 50%;
    height: auto;
    margin-left: 50px;
}

.header-2 {
    display: flex;
    background-color: darkgray;
}

.header-2 p {
    padding-top: 25px;
}

nav {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-2 {
    margin-left: 50px;
}

.menu-2 a {
    text-decoration: none;
    font-size: 12px;
    color: black;
    font-weight: bold;
    padding: 10px 10px;
}

h6 {
    font-size: 16px;
    text-align: center;
    padding-top: 15px;
}

.header-3 {
    background-color: lightgray;
}

.header-3 p {
    text-align: center;
    font-size: 12px;
    padding-top: 5px;
}

h5 {
    font-size: 16px;
    margin-bottom: 10px;
}

#tagline {
    font-size: 12px;
    margin: 0;
}

.menu-3 a {
    text-decoration: none;
    font-size: 12px;
    color: black;
    font-weight: bold;
    padding: 10px 10px;
}

.tab a {
    text-decoration: none;
    font-size: 11px;
    color: #fff;
    font-weight: bold;
    padding: 10px 10px;
    background-color: lightgray;
}

/* Style the tabs */
.tab {
    margin-top: 10px;
    text-align: center;
    margin-left: 400px;
    background-color: darkblue;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 150px;
    margin: auto;
    margin-bottom: 180px;
}

.tab-head {
    color: #fff;
    margin-top: 50px;
    margin-left: 200px;
}

.tab h4 {
    color: #fff;
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab a:hover {
    background-color: darkgray;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.login-btn {
    display: flex;
}


.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 5px;
    margin: auto;
}

h3 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="email"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.login {
    text-align: center;
}

.login a {
    background-color: lightgray;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.login a:hover {
    background-color: darkgray;
}

.signup {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 5px;
    margin: auto;
    display: block;
    margin-top: 10px;
}

h3 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="uname"],
input[type="email"],
input[type="password"] {
    width: 88%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.login {
    text-align: center;
}

.login a {
    background-color: lightgray;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.login a:hover {
    background-color: darkgray;
}

.hero-main {
    position: relative;
    position: relative;
    background-image: url(../Images/bank.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 455px;
}

.hero-main button {
    background-color: lightgray;
    color: #fff;
    font-size: 12px;
    padding: 10px 10px;
    border: none;
}

.content {
    display: flex;
}

.Hero-AllText {
    padding-top: 30px;
}

.one {
    color: #fff;
    background-color: lightgray;
    font-weight: bold;
    width: 400px;
    clip-path: polygon(0 0, 90% 0%, 100% 100%, 0% 100%);
}

.two {
    background-color: #fff;
    color: lightgray;
    width: 600px;
    clip-path: polygon(0 0, 90% 0%, 100% 100%, 0% 100%);
}

.see-more a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 10px;
    background-color: lightgray;
    font-size: 16px;
}

.see-more a:hover {
    background-color: darkgray;
}

.footer-1 {
    text-align: center;
    background-color: lightgray;
    color: #fff;
    height: 85px;
    padding-top: 5px;
}

.footer-1 h1 {
    text-transform: uppercase;
    font-size: 12px;
}

.footer-1 p {
    font-size: 10px;
}

.footer-1 a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 10px;
    background-color: lightblue;
    font-size: 12px;
}

.footer-1 a:hover {
    background-color: darkgray;
}

.switch-anchor {
    margin-top: 10px;
}

.footer-2 {
    display: flex;
    justify-content: center;
    background-color: darkgray;
}

.footer-2 p {
    font-size: 10px;
}

.footer-2 h2 {
    text-transform: uppercase;
    font-size: 12px;
}

.part-1 {
    padding: 10px 10px;
}

.part-2 {
    padding: 10px 10px;
    margin-left: 30px;
}

.part-3 {
    padding: 10px 10px;
    margin-left: 30px;
}

.footer-3 {
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: lightgray;
    height: 90px;
}

.footer-3 p {
    font-size: 12px;
}

.liberty-1 {
    padding: 10px 10px;
    margin-left: 128px;
}

.liberty-2 {
    padding: 10px 10px;
    margin-left: 90px;
}

.liberty-3 {
    padding: 10px 10px;
    margin-left: 90px;
}

.liberty-4 {
    /* padding: 10px 10px; */
    margin-left: 90px;
}

.liberty-4 a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 12px;
}

.download-btn {
    margin-left: 50px;
}

.liberty-4 .download-btn a {
    background-color: lightskyblue;
}

.liberty-4 .download-btn a:hover {
    background-color: darkgray;
}

.icon {
    display: flex;
    justify-content: center;
}

/* .download-btn {
    margin-top: 10px;
} */

/* .icon {
    display: flex;
} */

/* .icon img {
    width: 50px;
    height: 50px;
    margin: 0 10px;
} */

/* 
.icon img:hover {
    transform: scale(1.1); 
} */

/* .icon:hover img {
    transform: scale(1.1);
} */

/* @keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} */

/* Tablet Responsive Media Query*/
@media (max-width: 1024px) {

    .logo {
        margin-left: 9px;
    }

    .search {
        margin-right: 70px;
    }

    .search input[type="text"] {
        width: 112px;
    }

    .menu {
        margin-right: 50px;
    }

    .liberty-4 a {
        font-size: 11px;
    }

    .menu-2 {
        margin-right: 80px;
    }

    .menu-3 {
        margin-right: 30px;
    }

    .footer-1 {
        margin-right: 0px;
    }

    .footer-2 {
        margin-right: 0px;
    }
    
    .footer-3 {
        padding-right: 310px;
    }

}

@media (max-width: 480px) {

    /* .logo {
        font-size: 12px;
    }

    .menu a {
        font-size: 7px;
    }

    .menu-2 a {
        font-size: 10px;
    }

    .menu-3 a {
        font-size: 10px;
    }

    .search {
        margin-right: 310px;
    }

    .search input[type="text"] {
        width: 100px;
    }

    .download-btn {
        margin-right: 130px;
    }

    .liberty-4 {
        margin-right: 100px;
    }

    .liberty-4 a {
        font-size: 12px;
    }

    .footer-2 h2 {
        font-size: 8px;
    }

    .footer-2 p {
        font-size: 8px;
    } */

}