* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 70px;
}

.header-1 {
    background-color: lightgray;
    display: flex;
}

nav {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

/* .menu {
    padding-right: 300px;
} */

.menu a {
    text-decoration: none;
    font-size: 12px;
    color: black;
    font-weight: bold;
    padding: 10px 10px;
}

.search {
    position: relative;
    display: inline-block;
    margin-top: 25px;
    margin-right: 50px;
}

.search input[type="text"] {
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    box-sizing: border-box;
    border: none;
    outline: none;
}

.search button.search-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 85%;
    background: none;
    border: none;
    cursor: pointer;
}

.search button.search-icon img {
    width: 50%;
    height: auto;
    margin-left: 50px;
}

.header-2 {
    display: flex;
    background-color: darkgray;
}

nav {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-2 {
    margin-left: 50px;
}

.menu-2 a {
    text-decoration: none;
    font-size: 12px;
    color: black;
    font-weight: bold;
    padding: 10px 10px;
}

.header-3 {
    display: flex;
    background-color: lightgray;
}

.menu-3 a {
    text-decoration: none;
    font-size: 12px;
    color: black;
    font-weight: bold;
    padding: 10px 10px;
}

.Main-hero {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 455px;
    background-image: url(../Images/bank.jpg);
    animation: changeBackground 20s infinite;
}

@keyframes changeBackground {

    0%,
    20% {
        background-image: url(../Images/Rectangle\ 4\ copia\ 4.png);
    }

    25%,
    45% {
        background-image: url(../Images/bank.jpg);
    }

    50%,
    70% {
        background-image: url(../Images/bgbank.jpg);
    }

    75%,
    95% {
        background-image: url(../Images/bank-logo-2.jpg);
    }
}

.Hero-AllText {
    padding-top: 30px;
}

.one {
    color: #fff;
    background-color: lightgray;
    font-weight: bold;
    width: 400px;
    clip-path: polygon(0 0, 90% 0%, 100% 100%, 0% 100%);
    margin-left: 20px;
}

.two {
    background-color: #fff;
    color: lightgray;
    width: 600px;
    clip-path: polygon(0 0, 90% 0%, 100% 100%, 0% 100%);
    margin-left: 20px;
}

.see-more a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 10px;
    background-color: lightgray;
    font-size: 16px;
}

.see-more a:hover {
    background-color: darkgray;
}

.Main-hero .owl-nav {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.Main-hero .owl-nav .owl-prev {
    position: absolute;
    left: 0;
    Width: 70px;
    min-height: 68px;
}

.Main-hero .owl-nav .owl-next {
    position: absolute;
    right: 0;
    Width: 70px;
    min-height: 68px;
}

.Main-hero .owl-dots {
    display: block;
}

.grid {
    background-color: darkgray;
    color: #fff;
}

/* Grid Section Start Here */
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* Three equal columns */
    gap: 20px;
    /* Gap between grid items */
    padding: 20px;
    margin-left: 150px;
    margin-right: 70px;
    font-weight: bold;
    font-size: 15px;
}

.tickets {
    position: relative;
}

.tickets img {
    position: absolute;
    padding-left: 60px;
    padding-top: 10px;
    width: 20px;
    height: 30px;
}

.flight {
    position: relative;
}

.flight img {
    position: absolute;
    padding-top: 10px;
    padding-left: 60px;
    width: 20px;
    height: 30px;
}

.tv {
    position: relative;
}

.tv img {
    position: absolute;
    padding-top: 10px;
    padding-left: 60px;
    width: 20px;
    height: 30px;
}

.google-play {
    position: relative;
}

.google-play img {
    position: absolute;
    padding-top: 10px;
    padding-left: 60px;
    width: 20px;
    height: 30px;
}

.transaction {
    position: relative;
}

.transaction img {
    position: absolute;
    padding-top: 10px;
    padding-left: 60px;
    width: 20px;
    height: 30px;
}

.food {
    position: relative;
}

.food img {
    padding-top: 10px;
    position: absolute;
    padding-left: 60px;
    height: 30px;
    width: 20px;
}

.electricity {
    position: relative;
}

.electricity img {
    position: absolute;
    padding-top: 10px;
    padding-left: 60px;
    height: 30px;
    width: 20px;
}


.fuel {
    position: relative;
}

.fuel img {
    position: absolute;
    padding-left: 60px;
    width: 20px;
    height: 25px;
    padding-top: 10px;
}

.hotel {
    position: relative;
}

.hotel img {
    position: absolute;
    padding-left: 60px;
    padding-top: 10px;
    height: 30px;
    width: 20px;
}


.e-commerce {
    position: relative;
}

.e-commerce img {
    position: absolute;
    padding-left: 60px;
    padding-top: 10px;
    height: 30px;
    width: 20px;
}

.mobiledata {
    position: relative;
}

.mobiledata img {
    position: absolute;
    padding-left: 60px;
    padding-top: 10px;
    width: 20px;
    height: 30px;
}

.pharmacy {
    position: relative;
}

.pharmacy img {
    position: absolute;
    padding-left: 60px;
    width: 20px;
    height: 30px;
    padding-top: 10px;
}

.grid-content {
    padding-left: 50px;
}

.grid-content h3 {
    text-align: center;
    font-size: 16px;
}

.grid-content h5 {
    font-size: 16px;
}

.grid-content p {
    font-size: 12px;
}

.grid-item {
    background-color: #ddd;
    padding: 20px;
    text-align: center;
    height: 70px;
    width: 100px;
    border-radius: 5px;
}

.grid-item h4 {
    padding-top: 30px;
}

.footer-1 {
    text-align: center;
    background-color: lightgray;
    color: #fff;
    height: 85px;
    padding-top: 5px;
}

.footer-1 h1 {
    text-transform: uppercase;
    font-size: 12px;
}

.footer-1 p {
    font-size: 10px;
}

.footer-1 a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 10px;
    background-color: lightblue;
    font-size: 12px;
}

.footer-1 a:hover {
    background-color: darkgray;
}

.switch-anchor {
    margin-top: 10px;
}

.footer-2 {
    display: flex;
    justify-content: center;
    background-color: darkgray;
}

.footer-2 p {
    font-size: 10px;
}

.footer-2 h2 {
    text-transform: uppercase;
    font-size: 12px;
}

.part-1 {
    padding: 10px 10px;
}

.part-2 {
    padding: 10px 10px;
    margin-left: 30px;
}

.part-3 {
    padding: 10px 10px;
    margin-left: 30px;
}

.footer-3 {
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: lightgray;
    height: 90px;
}

.footer-3 p {
    font-size: 12px;
}

.liberty-1 {
    padding: 10px 10px;
    margin-left: 128px;
}

.liberty-2 {
    padding: 10px 10px;
    margin-left: 90px;
}

.liberty-3 {
    padding: 10px 10px;
    margin-left: 90px;
}

.liberty-4 {
    /* padding: 10px 10px; */
    margin-left: 90px;
}

.liberty-4 a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 12px;
}

.liberty-4 .download-btn a {
    background-color: lightskyblue;
}

.liberty-4 .download-btn a:hover {
    background-color: darkgray;
}

.icon {
    display: flex;
    justify-content: center;
}

/* .download-btn {
    margin-top: 10px;
} */

/* .icon {
    display: flex;
} */

/* .icon img {
    width: 50px;
    height: 50px;
    margin: 0 10px;
} */

/* 
.icon img:hover {
    transform: scale(1.1); 
} */

/* .icon:hover img {
    transform: scale(1.1);
} */

/* @keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} */

/* Tablet Responsive Media Query*/
@media (max-width: 1024px) {

    .logo {
        font-size: 12px;
    }

    .menu a {
        font-size: 9px;
    }

    .menu-2 {
        margin-right: 330px;
    }

    .menu-2 a {
        font-size: 9px;
    }

    .menu-3 {
        margin-right: 300px;
    }

    .menu-3 a {
        font-size: 9px;
    }

    .search {
        margin-right: 310px;
    }

    .search input[type="text"] {
        width: 100px;
    }

    .download-btn {
        margin-right: 0px;
    }
    
    .grid-container {
        margin-right: 300px;
    }

    .liberty-1 {
        margin-left: 430px;
    }

    .liberty-4 {
        margin-right: 680px;
    }

    .liberty-4 a {
        font-size: 11px;
    }

    .footer-2 h2 {
        font-size: 8px;
    }

    .footer-2 p {
        font-size: 8px;
    }

}

/* Mobile Responsive Media Query*/

@media (max-width: 480px) {
    .menu-2 a {
        font-size: 8px;
    }

    .menu-3 a {
        font-size: 8px;
    }

    .search {
        margin-right: 0px;
    }

    .footer-3 {
        padding-left: 460px;
    }

    






}